<div class="visitors-statistics">
  <h4 class="h1">Total: {{ sent + received + failed }}</h4>
  <div class="visitors-title">Message Statistics</div>
  <div class="statistics-chart">
    <div echarts [options]="option" class="echart"></div>
  </div>
  <div class="statistics-footer">
    <div class="chart-values h5">
      <span class="chart-value">{{ percentSent | number : "1.0-1"}}%</span>
      <span class="chart-value">{{ percentReceived | number : "1.0-1"}}%</span>
    </div>
  </div>
</div>
