<nb-card size="medium">
  <nb-card-header>
    <span>Event Logs</span>
  </nb-card-header>

  <nb-list class="event-log-list">
    <nb-list-item *ngFor="let item of eventLogs">
      <div class="event-date">
        {{ item.date | date }}
      </div>

      <div class="event-type">
        <div class="caption">Type</div>
        <div>{{ item.type }}</div>
      </div>

      <div class="event-severity">
        <div [ngSwitch]="item.severity">
          <div *ngSwitchCase="'High'" [class.down]="true" class="delta">
            <nb-icon [icon]="'arrow-up'" pack="eva"></nb-icon>
            {{ item.severity }}
          </div>
          <div
            *ngSwitchCase="'Medium'"
            [class.midway]="true"
            [class.down]="false"
            class="delta"
          >
            <nb-icon [icon]="'arrow-down'" pack="eva"></nb-icon>
            {{ item.severity }}
          </div>
          <div
            *ngSwitchDefault=""
            [class.up]="true"
            [class.down]="false"
            class="delta"
          >
            <nb-icon [icon]="'arrow-down'" pack="eva"></nb-icon>
            {{ item.severity }}
          </div>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
